.thank {
    padding: 90px 0 60px 0;
    // .thank__inner

    &__inner {

    }

    // .thank__title

    &__title {
        text-align: center;
        font-size: 62px;
    }

    // .thank__subtitle

    &__subtitle {
        margin-top: 30px;
        font-size: 46px;
        width: 78%;
        margin-left: auto;
        margin-right: auto;
        font-family: "Bebas Book";
        font-weight: 400;
        text-align: center;
        line-height: 100%;

    }
}

.thank-content {

    // .thank-content__title

    &__title {
        font-size: 36px;
        font-family: "Bebas Neue";
        line-height: 100%;
        text-align: center;
        margin-top: 70px;
        font-weight: 400;
    }
}
.thank-content-items {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.thank-content-item {
    width: 298px;
    margin-right: 180px;
    position: relative;
    &::before {
        content: "";
        width: 177px;
        height: 2px;
        border-top: 2px dashed #414141;
        position: absolute;
        top: 77px;
        right: -177px;
        transform: translateY(-50%);
    }
    &:last-child {
        margin-right: 0;
        &::before {
            display: none;
        }
    }

    // .thank-content-item__title

    &__title {
        text-align: center;
        font-size: 26px;
        font-family: "Bebas Neue";
        line-height: 100%;
        font-weight: 400;
    }

    // .thank-content-item__icon

    &__icon {
        width: 78px;
        height: 60px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;

        & img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .thank-content-item__descr

    &__descr {
        margin-top: 20px;
        line-height: 22px;
        text-align: center;
        font-size: 18px;
        font-family: "Montserrat";
    }
}
.thank-message {
    margin-top: 70px;
    padding: 35px 59px;
    border-radius: 20px;
    border: 1px solid #EBA600;
    display: flex;
    width: 57%;
    margin-left: auto;
    margin-right: auto;
    // .thank-message__title

    &__title {
        font-size: 36px;
        text-align: center;
        font-family: "Bebas Neue";
        font-weight: 400;
        line-height: 100%;
    }

    // .thank-message__descr

    &__descr {
        margin-top: 30px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        text-align: center;
    }

    // .thank-message__right

    &__right {
        width: 328px;
        & p{
            font-size: 18px;
            font-family: "Montserrat";
            line-height: 22px;
            text-align: center;
        }
        & a{
            display: block;
            margin-top: 22px;
            width: 44px;
            height: 44px;
            margin-left: auto;
            margin-right: auto;
            & img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.thank-message-left {
    width: 298px;
    margin-right: 50px;
}

@media screen and (max-width: 1919px) {
    .thank {
        padding: 4.688vw 0 3.125vw 0;

        &__title {
            font-size: 3.229vw;
        }

        &__subtitle {
            margin-top: 1.562vw;
            font-size: 2.396vw;
        }
    }

    .thank-content {
        &__title {
            font-size: 1.875vw;
            margin-top: 3.646vw;
        }
    }

    .thank-content-items {
        margin-top: 2.604vw;
    }

    .thank-content-item {
        width: 15.521vw;
        margin-right: 9.375vw;

        &::before {
            width: 9.219vw;
            height: 0.104vw;
            border-top: 0.104vw dashed #414141;
            top: 4.010vw;
            right: -9.219vw;
        }

        &__title {
            font-size: 1.354vw;
        }

        &__icon {
            width: 4.062vw;
            height: 3.125vw;
            margin-top: 1.562vw;
        }

        &__descr {
            margin-top: 1.042vw;
            line-height: 1.146vw;
            font-size: 0.938vw;
        }
    }

    .thank-message {
        margin-top: 3.646vw;
        padding: 1.823vw 3.073vw;
        border-radius: 1.042vw;
        border: 0.052vw solid #EBA600;

        &__title {
            font-size: 1.875vw;
        }

        &__descr {
            margin-top: 1.562vw;
            font-size: 0.938vw;
            line-height: 1.146vw;
        }

        &__right {
            width: 17.083vw;

            & p {
                font-size: 0.938vw;
                line-height: 1.146vw;
            }

            & a {
                margin-top: 1.146vw;
                width: 2.292vw;
                height: 2.292vw;
            }
        }
    }

    .thank-message-left {
        width: 15.521vw;
        margin-right: 2.604vw;
    }
}
@media screen and (max-width: 1024px) {
    .thank {
        padding: 11.719vw 0 15.885vw 0;

        &__title {
            font-size: 6.771vw;
        }

        &__subtitle {
            margin-top: 2.083vw;
            font-size: 5.990vw;
            width: 100%;
        }
    }

    .thank-content {
        &__title {
            font-size: 4.688vw;
            margin-top: 7.813vw;
        }
    }

    .thank-content-items {
        margin-top: 1.302vw;
        flex-direction: column;
    }

    .thank-content-item {
        width: 100%;
        padding: 2.604vw 0;
        margin-right: 0;
        margin-bottom: 5.208vw;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            width: 0.260vw;
            height: 3.906vw;
            border-right: 0.260vw dashed #414141;
            bottom: -4.557vw;
            border-top: unset;
            top: unset;
            right: 50%;
            transform: translateX(50%);
        }

        &__title {
            font-size: 3.906vw;
        }

        &__icon {
            width: 13.021vw;
            height: 10.677vw;
            margin-top: 2.604vw;
        }

        &__descr {
            margin-top: 2.344vw;
            line-height: 2.865vw;
            font-size: 2.344vw;
        }
    }

    .thank-message {
        margin-top: 5.208vw;
        width: 100%;
        padding: 5.208vw;
        border-radius: 2.604vw;
        border: 0.130vw solid #EBA600;
        flex-direction: column;

        &__title {
            font-size: 4.688vw;
        }

        &__descr {
            margin-top: 2.344vw;
            font-size: 2.344vw;
            line-height: 2.865vw;
        }

        &__right {
            width: 100%;
            margin-top: 2.604vw;

            & p {
                font-size: 2.344vw;
                line-height: 2.865vw;
            }

            & a {
                margin-top: 3.906vw;
                width: 5.729vw;
                height: 5.729vw;
            }
        }
    }

    .thank-message-left {
        width: 100%;
        margin-right: 0;
    }
}
  
@media screen and (max-width: 650px) {
    .thank {
      padding: 16.908vw 0 19.324vw 0;
  
      &__title {
        font-size: 9.662vw;
      }
  
      &__subtitle {
        margin-top: 3.623vw;
        font-size: 5.797vw;
      }
    }
  
    .thank-content {
      &__title {
        font-size: 5.797vw;
        margin-top: 12.077vw;
      }
    }
  
    .thank-content-items {
      margin-top: 7.246vw;
    }
  
    .thank-content-item {
      width: 71.981vw;
      padding: 0;
      margin-right: 0;
      margin-bottom: 6.039vw;
      margin-left: auto;
      margin-right: auto;
  
      &:last-child {
        margin-bottom: 0;
        margin-right: auto;
      }
  
      &::before {
        display: none;
      }
  
      &__title {
        font-size: 4.831vw;
      }
  
      &__icon {
        width: 18.841vw;
        height: 14.010vw;
        margin-top: 4.831vw;
      }
  
      &__descr {
        margin-top: 4.831vw;
        line-height: 4.831vw;
        font-size: 3.865vw;
      }
    }
  
    .thank-message {
      margin-top: 12.077vw;
      width: 77.778vw;
      padding: 0;
      border-radius: 0;
      border: unset;
  
      &__title {
        font-size: 5.314vw;
      }
  
      &__descr {
        margin-top: 2.415vw;
        font-size: 3.865vw;
        line-height: 4.831vw;
      }
  
      &__right {
        margin-top: 12.077vw;
  
        & p {
          font-size: 3.865vw;
          line-height: 4.831vw;
        }
  
        & a {
          margin-top: 3.623vw;
          width: 8.696vw;
          height: 8.696vw;
        }
      }
    }
  }
  