.transformation {
    margin-top: 40px;
    padding: 120px 0;
    background: #F1F1F1;
    // .transformation__title

    &__title {
        text-align: center;
    }

    // .transformation__subtitle

    &__subtitle {
        margin-top: 18px;
        font-family: "Bebas Book", sans-serif;
        font-size: 46px;
        line-height: 100%;
        text-align: center;
        font-weight: 400;
    }
    &__inner{
    }
}



.transformation-items {
    margin-top: 96px;
    display: flex;
}
.transformation-item {
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
    &:nth-child(3){
        margin-top: -35px;
    }
    // .transformation-item__title

    &__title {
        font-family: "Bebas Neue", sans-serif;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        font-weight: 400;
    }

    // .transformation-item__video

    &__video {
        position: relative;
        margin-top: 20px;
        &>img{
            width: 100%;
            height: 450px;
            object-fit: cover;
            border-radius: 18px;
        }
    }
    .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        & img{
            width: 29px;
            height: 31px;
        }
    }
}

@media screen and (max-width: 1919px) {
    .transformation {
        margin-top: 2.083vw;
        padding: 6.250vw 0;

        &__subtitle {
            margin-top: 0.938vw;
            font-size: 2.396vw;
        }
    }

    .transformation-items {
        margin-top: 5.000vw;
    }

    .transformation-item {
        margin-right: 1.042vw;

        &:nth-child(3) {
            margin-top: -1.823vw;
        }

        &__title {
            font-size: 1.875vw;
        }

        &__video {
            margin-top: 1.042vw;

            &>img {
                height: 23.438vw;
                border-radius: 0.938vw;
            }
        }

        .play-btn {
            width: 5.208vw;
            height: 5.208vw;

            & img {
                width: 1.510vw;
                height: 1.615vw;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .transformation {
        margin-top: 10.417vw;
        padding: 10.417vw 0;

        &__subtitle {
            margin-top: 2.604vw;
            font-size: 5.990vw;
        }
    }

    .transformation-items {
        margin-top: 5.208vw;
        flex-wrap: wrap;
    }

    .transformation-item {
        margin-right: 2.604vw;
        margin-bottom: 8.594vw;
        width: 46.094vw;

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(3) {
            margin-top: -4.557vw;
        }

        &__title {
            font-size: 4.688vw;
        }

        &__video {
            margin-top: 1.563vw;

            &>img {
                height: 61.849vw;
                border-radius: 2.344vw;
            }
        }

        .play-btn {
            width: 10.417vw;
            height: 10.417vw;

            & img {
                width: 2.995vw;
                height: 3.125vw;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .transformation {
        margin-top: 12.077vw;
        padding: 7.246vw 0;

        &__subtitle {
            margin-top: 3.623vw;
            font-size: 5.797vw;
        }
    }

    .transformation-items {
        margin-top: 4.831vw;
        flex-wrap: wrap;
    }

    .transformation-item {
        margin-right: 4.831vw;
        margin-bottom: 7.729vw;
        width: 43.961vw;

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(3) {
            margin-top: -7.246vw;
        }

        &__title {
            font-size: 5.797vw;
            width: 102%;
            line-height: 7.005vw;
        }

        &__video {
            margin-top: 1.208vw;

            &>img {
                height: 58.937vw;
                border-radius: 4.348vw;
            }
        }

        .play-btn {
            width: 14.493vw;
            height: 14.493vw;

            & img {
                width: 4.106vw;
                height: 4.348vw;
            }
        }
    }
}
